@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'trix/dist/trix.css';

trix-toolbar .trix-button-group {
    border-color: #eeeeee !important; /* netral-100 */
    margin-bottom: 10px;
}

trix-editor:focus {
    outline: none !important;
    border-color: #0061FF !important;
    box-shadow: none;
}

trix-editor.border-danger {
    border-color: #EF4444 !important;
}
